/* === FONT IMPORTS === */
@font-face {
  font-family: "Barrio";
  src: url("../fonts/Barrio-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* PAGE SETTINGS  */
html, body {
    font-family:"Barrio", Courier, monospace;
    padding: 0;
    margin: 0;
    height: 100%;
}

.main-screen {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* SCREEN 1 - START GAME */
#start-game-screen {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.start-button {
    color: white;
    background-color: black;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    font-family: "Barrio", Courier, monospace;
    font-size: 32px;
}


/* SCREEN 2 - ACTIVE GAME */
ul, li {
    display: flex;
}

#human-choices {
    display: none;
}

.human-choices-option {
    display: flex;
    min-width: 250px;
}

button.human-choices-button {
    background: none;
    border: none;
}

img.human-choices-img {
    height: 400px;
}

#rock-img {
    height:325px;
}

li {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.human-choices-caption {
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 48px;
    text-align: center;
}

h1 {
    font-size: 120px;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* SCREEN 3 - RESULTS SCREEN */
#result-screen {
    height: 100%;
    background: url(../img/results_background_image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.split-screen-wrapper {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

#human-result-image {
    opacity: 0;
    max-width: 80%;
    max-height: 60vh;   /*can adjust this*/
    height: auto;
    object-fit: contain;
    transform: translateY(100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.results-active #human-result-image {
    transform: translateY(30%);
    opacity: 1;

}

#human-choice-text {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.results-active #human-choice-text {
    opacity: 1;
    transform: translate(0);
}

#human-counter{
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.results-active #human-counter {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.5s;
}

#computer-result-image {
    opacity: 0;
    max-width: 80%;
    max-height: 60vh;   /*can adjust this*/
    height: auto;
    object-fit: contain;
    transform: rotateZ(180deg) translateY(100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.results-active #computer-result-image {
    transform: rotateZ(180deg) translateY(30%);
    opacity: 1;
    transition-delay: 1s;
}

#computer-choice-text {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.results-active #computer-choice-text {
    opacity: 1;
    transform: translate(0);
    transition-delay: 1s;
}


#computer-counter{
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.results-active #computer-counter {
    transform: translateY(0);
    transition-delay: 1.5s;
    opacity: 1;
}

#round {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
}

#round.results-active {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 3s;
}


/* SCREEN 4 - GAME OVER */
#game-over-screen {
    display: none;
    flex-direction: column;
    overflow: hidden;
}

#hands-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    background: none;
    transform: translateY(30%);
}

#replay-button {
    background: none;
    position: absolute;
    margin-top: 18%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

    transition: transform 0.15s ease;
}

#replay-button:hover {
    transform: scale(150%);
}