/* === FONT IMPORTS === */
@font-face {
  font-family: "Barrio";
  src: url("../fonts/Barrio-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* PAGE SETTINGS  */
html, body {
    font-family:"Barrio", Courier, monospace;
    padding: 0;
    margin: 0;
    height: 100%;
}

.main-screen {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* SCREEN 1 - START GAME */
#start-game-screen {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#start-button {
    color: white;
    background-color: black;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    font-family: "Barrio", Courier, monospace;
}


/* SCREEN 2 - ACTIVE GAME */
ul, li, .human-choices-option {
    display: flex;
}

#human-choices {
    display: none;
}

button.human-choices-button {
    background: none;
    border: none;
}

img.human-choices-img {
    height: 400px;
}

li {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.human-choices-caption {
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 48px;
}

h1 {
    font-size: 120px;
    margin: 0;
    padding: 0;
    transform: translateY(150px);
    text-align: center;
}


/* SCREEN 3 - RESULTS SCREEN */
#result-screen {
    background: url(../img/results_background_image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.split-screen-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

/* SCREEN 4 - GAME OVER */
#game-over-screen {
    display: none;
    flex-direction: column;
    overflow: hidden;
}

#hands-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    background: none;
    transform: translateY(30%);
}

#replay-button {
    background: none;
    position: absolute;
    margin-top: 18%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

    transition: transform 0.15s ease;
}

#replay-button:hover {
    transform: scale(150%);
}