/* === FONT IMPORTS === */
@font-face {
  font-family: "Barrio";
  src: url("../fonts/Barrio-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* PAGE SETTINGS  */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HUMAN CHOICES OPTIONS STYLING */
div.human-choices, ul, li, .human-choices-option {
    display: flex;
}


button.human-choices-button {
    background: none;
    border: none;
}

img.human-choices-img {
    height: 400px;
}

li {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.human-choices-caption {
    padding: 0;
    margin: 0;
}

h4 {
    font-family: "Barrio";
    font-size: 48px;
}